<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Xen.Graphics.ShaderSystem.CustomTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Xen.Graphics.ShaderSystem.CustomTool.Properties.Settings>
			<setting name="DefaultCompilerDirectives" serializeAs="String">
				<value>
					#if {0}
					#else
					#endif
				</value>
			</setting>
			<setting name="VBCompilerDirectives" serializeAs="String">
				<value>
					*.vb
					#If {0}
					#Else
					#End If
				</value>
			</setting>
		</Xen.Graphics.ShaderSystem.CustomTool.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" >
			<probing privatePath="PublicAssemblies;PrivateAssemblies" />
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="7.0.3300.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>